/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', cursive, sans-serif;
  background: #E1CF36;
  overflow-x: hidden;
  color: #333;
  font-size: 1rem;
  line-height: 1.5;
  cursor: url('Resources/UI/Arrow.png'), auto;
}

/* Navbar */
nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: -60px;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  z-index: 100;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: top 0.3s ease-in-out;
}

nav.visible {
  top: 0;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 10px;
}

nav a:hover {
  color: #E1CF36;
  cursor: url('Resources/UI/Hand.png'), auto;
}

nav .logo {
  width: 40px;
  height: auto;
  margin-right: 20px;
}

/* Sections */
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #7DA3EB;
  color: white;
  text-align: center;
  transform: translateY(100px) scale(0.9);
  opacity: 0;
  transition: transform 0.6s ease-out, opacity 0.6s ease-out, box-shadow 0.4s ease-out;
  padding: 50px 0;
}

section.visible {
  transform: translateY(0) scale(1);
  opacity: 1;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

section:nth-child(odd),
section:nth-child(even) {
  background: #7DA3EB;
}

.newsletter
{
  transition: all 0.3s ease;
}

.newsletter:hover
{
  transform: scale(1.1);
}

/* Content */
.content {
  max-width: 650px;
  padding: 30px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 3px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
  color: #FFFFFF;
  transition: color 0.3s ease;
}

p {
  font-size: 1.3rem;
  margin-bottom: 25px;
  line-height: 1.7;
  color: #F5F5F5;
}

.btn {
  padding: 15px 30px;
  background-color: #E1CF36;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s;
  font-family: 'Press Start 2P', cursive, sans-serif;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: #aea230;
  box-shadow: 0 0 25px rgba(125, 163, 235, 0.8);
  transform: scale(1.1);
  cursor: url('Resources/UI/Hand.png'), auto;
}

.btn:active {
  animation: glowing 1s infinite alternate;
}

@keyframes glowing {
  0% { box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); }
  50% { box-shadow: 0 0 15px rgba(255, 255, 255, 0.7); }
  100% { box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); }
}

/* Footer */
footer {
  text-align: center;
  padding: 10px 0;
  background: #E1CF36;
  color: white;
  font-size: 0.25rem;
}

footer p {
  margin: 0;
  font-family: 'Press Start 2P', cursive, sans-serif;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  color: #7DA3EB;
  cursor: url('Resources/UI/Hand.png'), auto;
}

/* Parallax Section */
.parallax {
  background-image: url('https://via.placeholder.com/1920x1080');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  z-index: -1;
}

/* Testimonials */
.testimonials {
  background: #333;
  color: white;
  padding: 50px 20px;
}

.testimonial {
  margin-bottom: 20px;
  text-align: center;
}

.testimonial p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.testimonial h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.testimonial span {
  font-style: italic;
  color: #E1CF36;
}
